<!--<p id="notice"><%#= notice %></p>-->

<div class="grid">
  <div class="row">
    <div class="cell-3">
      <div>
        <%= render 'projects/project' %>
      </div>
    </div>
    <div class="cell-9">
      <div>cell-9</div>
    </div>
  </div>
</div>
